.title{
    color: #b33939;
    text-align: center;
    padding-bottom: 20px;
}
.text{
    color: black;
}

.single{
    padding: 2px 16px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
    cursor: pointer;
}
.single:hover{
    border-left: 8px solid #b33939;
}