@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;600;700&family=Fira+Sans:ital,wght@1,100;1,300;1,400&family=Fredoka+One&display=swap');
body {
  background: #f7f1e3;
  color:#333;
  font-family:'Roboto', sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}

.content {
  max-width: 1500px;
  margin: 0 auto;
}
nav{
  margin: 10px 100px 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px #ddd;
}
nav a{
  margin-left: 12px;
  color: red;
}
nav a:hover{
  text-decoration:underline;
  font-size: larger;
}
nav .logo{
  margin-right: auto;
  cursor: pointer;
  background-color: green;
}
/* nav .ahmet{
  display: flex;
  justify-content: flex-start;
  background-color: red;

} */
nav .main{
  width: 1500px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
